@font-face {
    font-family: SegoeLi;
    src: url(/fonts/segoeuil.ttf);
}

@font-face {
    font-family: ISOCP3;
    src: url(/fonts/isocp3.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@-webkit-keyframes countdown-realtime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes countdown-realtime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.35;
    }
    100% {
        opacity: 1;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    background: black;
    font-family: ISOCP3, SegoeLi, 'Segoe UI Light', 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-text-stroke-width: 0.05em;
    /*cursor: none;*/
    font-size: 1.5vmin;
    color: white;
}

::selection {
    background-color: #ed1c24;
}

#schedule {
    height: 100%;
    position: relative;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        flex-grow: 1;
        align-self: flex-start;
        padding: 1em;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        &.new {
            opacity: 0 !important;
            -webkit-transform: scale(0.8) !important;
            transform: scale(0.8) !important;
        }
        #connection_board {
            flex-grow: 1;
            width: 100%;
            height: 100%;
        }
    }
    .footer {
        box-sizing: border-box;
        flex-grow: 0;
        width: 100%;
        line-height: 1.2em;
        height: 2em;
        /* Height of the footer */
        background: black;
        font-size: 1.2em;
        .station_name {
            color: white;
            margin: 0;
            margin-left: 0.5em;
            float: left;
            opacity: 1;
            -webkit-transition: margin 0.5s, opacity 0.5s;
            transition: margin 0.5s, opacity 0.5s;
            &.new {
                margin-left: -0.5em !important;
                opacity: 0 !important;
            }
        }
        .time {
            color: white;
            float: right;
            margin: 0;
            margin-right: 0.5em;
            /* Fix Raspberry Pi not rendering number spacing consistent */
            opacity: 1;
            -webkit-transition: margin 0.5s, opacity 0.5s;
            transition: margin 0.5s, opacity 0.5s;
            &.new {
                margin-right: -0.5em !important;
                opacity: 0 !important;
            }
            .time-digits {
                float: right;
                font-size: 0.5em;
                line-height: 1em;
                min-width: 3.8em;
                margin-right: 0.5em;
            }
            .clock {
                float: right;
                height: 2em;
                width: 2em;
                margin-top: -0.5em;
            }
        }
    }
}
