@font-face {
    font-family: SegoeLi;
    src: url(/fonts/segoeuil.ttf);
}

@font-face {
    font-family: ISOCP3;
    src: url(/fonts/isocp3.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@keyframes countdown-realtime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    background: black;
    font-family: SegoeLi, 'Segoe UI Light', 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    /*cursor: none;*/
    font-size: 3em;
    color: white;
}

::selection {
    background-color: #ed1c24;
}

.blur {
    /*   width: 100%;
    height: 100%;
    position: absolute;*/
    filter: blur(4px) grayscale(0.5) brightness(0.5);
}

#schedule {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: none;
    .body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        flex-grow: 1;
        align-self: flex-start;
        padding: 0.5em;
        #connection_board {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            overflow: visible;

            text {
                opacity: 1.0;

            }

            .info-text {
                font-family: SegoeLi, 'Segoe UI Light', 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
            }
        }
    }
    .footer {
        box-sizing: border-box;
        flex-grow: 0;
        width: 100%;
        line-height: 1.2em;
        /* Height of the footer */
        font-size: 1.2em;
        background: rgba(0, 0, 0, 0.9);
        z-index: 5;
        display: flex;
        align-items: center;
        .station_name {
            flex-grow: 1;
            color: white;
            margin: 0;
            margin-left: 0.5em;
            float: left;
            opacity: 1;
            -webkit-transition: margin 0.5s, opacity 0.5s;
            transition: margin 0.5s, opacity 0.5s;
            &.new {
                margin-left: -0.5em !important;
                opacity: 0 !important;
            }
        }
        .time {
            color: white;
            margin: 0.5em;
            /* Fix Raspberry Pi not rendering number spacing consistent */
            opacity: 1;
            -webkit-transition: margin 0.5s, opacity 0.5s;
            transition: margin 0.5s, opacity 0.5s;
            &.new {
                margin-right: -0.5em !important;
                opacity: 0 !important;
            }
            .time-digits {
                float: right;
                font-size: 0.8em;
                line-height: 1em;
                min-width: 3.8em;
                margin-right: 1em;
                margin-top: 0.675em;
            }
            .clock {
                float: right;
                height: 3em;
                width: 3em;
            }
        }
    }
}
