@keyframes turnaround {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    background-color: black;
}

.clock {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    width: 25%;
    height: 25%;
    float: left;
}
